android/bin/
android/gen/
samples/bin/
samples/gen/
tests/bin/
tests/gen/
.DS_Store
._.DS_Store
.gradle
/local.properties
/.idea/workspace.xml
sau/build/
sample/build/
test/build/
*.iml
*.ipr
*.iws
.idea/
build/
