<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simbio.se.sau"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:name="android.hardware.audio.low_latency "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.faketouch "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.type.television "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host "
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="false" />
    <uses-feature
        android:name="android.software.sip"
        android:required="false" />
    <uses-feature
        android:name="android.software.sip.voip"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="18" />

</manifest>